.ipynb_checkpoints
mapped_plant_quads_co_allrecords_cover.csv
mapped_plant_quads_co_allrecords_density.csv
mapped_plant_quads_co_daily_climate.csv
mapped_plant_quads_co_quad_info.csv
mapped_plant_quads_co_quad_inventory.csv
mapped_plant_quads_co_quad_stocking_rate.csv
mapped_plant_quads_co_species_list.csv
mapped_plant_quads_co_species_name_changes.csv
mapped_plant_quads_id_counts.csv
mapped_plant_quads_id_cover.csv
mapped_plant_quads_id_density.csv
mapped_plant_quads_id_grazing.csv
mapped_plant_quads_id_monthly_mean_temp.csv
mapped_plant_quads_id_monthly_ppt.csv
mapped_plant_quads_id_monthly_sno.csv
mapped_plant_quads_id_quad_info.csv
mapped_plant_quads_id_quad_inventory.csv
mapped_plant_quads_id_species.csv
mapped_plant_quads_id_taxonomy.csv
mapped_plant_quads_ks_main.csv
mapped_plant_quads_ks_monthly_ppt.csv
mapped_plant_quads_ks_monthly_temp.csv
mapped_plant_quads_ks_quadrat_info.csv
mapped_plant_quads_ks_quadrat_inventory.csv
mapped_plant_quads_ks_species.csv
mapped_plant_quads_mt_allrecords_cover.csv
mapped_plant_quads_mt_allrecords_density.csv
mapped_plant_quads_mt_species_list.csv